@font-face {
	font-family: Roboto;
	src: url("font/Roboto-Regular.ttf");
}

.default {
	-fx-background-color: #a8abb1;
}

.title {
	-fx-font-family: Roboto;
	-fx-font-size: 24;
}

.homegrid {
	-fx-background-color: #e4e7ed;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
}

.homegrid Label {
	-fx-font-family: Roboto;
	-fx-font-size: 18;
}

.titleButton {
	-fx-background-color: #e4e7ed;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-min-height: 50; -fx-min-width: 250;
	-fx-font-family: Roboto;
	-fx-font-size: 18;
}

.textInput {
	-fx-background-color: #e4e7ed;
	-fx-background-radius: 10;
	-fx-font-family: Roboto;
	-fx-min-height: 30;
}